.atomic-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.atomic-vertical-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.atomic-vertical-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.atomic-hover-display {
  * {
    visibility: hidden;
  }

  &:hover {
    * {
      visibility: visible;
    }
  }
}

.w-fit-content {
  width: fit-content;
}

.abct-bg-image-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h-100 {
  height: 100%;
}
