{# global #}
<style>
  /*Text Color*/

  {#  text align#}
  {% if content.field_abct_text_align['#items'].getString() %}
  .{{ block_id_class }} .atomic-block-wrapper{
    text-align: {{ content.field_abct_text_align['#items'].getString() }};
  }

  {% endif %}

  {#  Min Height#}
  {% if content.field_abct_min_height.0['#markup'] %}
  .{{ block_id_class }} .block-inside-wrapper {
    min-height: {{ content.field_abct_min_height.0['#markup'] }}px;
  }

  {% endif %}

  {#  Background#}
  {% set background_image = file_url(content.field_abct_bg_image['#items'].entity.uri.value) %}
  {% if background_image %}
  .{{ block_id_class }} .atomic-block-wrapper{
    background-image: url({{ background_image }});
  }

  {% endif %}

  {#  Text color#}
  {% if elements.text_color_opacity %}
  .{{ block_id_class }} .atomic-block-wrapper, .{{ block_id_class }} .atomic-block-wrapper a {
    color: {{ elements.text_color_opacity }};
  }

  {% endif %}

  {#  Background color#}
  {% if elements.bg_color_opacity %}
  .{{ block_id_class }} .block-inside-wrapper {
    background-color: {{ elements.bg_color_opacity }};
  }

  .{{ block_id_class }} .block-inside-wrapper.atomic-hover-display {
    background-color: unset;
  }

  .{{ block_id_class }} .block-inside-wrapper.atomic-hover-display:hover {
    background-color: {{ elements.bg_color_opacity }};
  }

  {% endif %}

  {#  padding#}
  {% if elements.padding %}
  .{{ block_id_class }} .block-inside-wrapper {
    padding: {{ elements.padding }};
  }

  {% endif %}

  {#  padding#}
  {% if elements.content_padding %}
  .{{ block_id_class }} .content-padding {
    padding: {{ elements.content_padding }};
  }

  {% endif %}

  {% if content.field_abct_text_size[0]['#markup'] %}
  .{{ block_id_class }} .font-size {
    font-size: {{ content.field_abct_text_size[0]['#markup'] }} !important;
  }
  {% endif %}
</style>
