{{ attach_library('atomic_block_content_type/global') }}
{% set block_id_class = 'block-' ~ content['#block_content'].id.value %}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'abct-bg-image-style',
  'h-100',
  block_id_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
</div>

<style>
  {% set background_image = file_url(content.field_abct_bg_image['#items'].entity.uri.value) %}
  .{{ block_id_class }} {
    background-image: url({{ background_image }});
  }
</style>
