{{ attach_library('atomic_block_content_type/global') }}
{% set block_id_class = 'block-' ~ content['#block_content'].id.value %}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  block_id_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="atomic-block-wrapper">
    <div class="block-inside-wrapper {{ elements.vertical_align_class }} {{ elements.hover_class }}">
      <div class="content-wrapper w-fit-content {{ content['field_abct_horizontal_align']['#items'].getString() }}">
        {% block content %}
          <div{{ content_attributes.addClass('content w-fit-content') }}>
            <div class="w-fit-content main-content font-size {{ content.field_abct_main_content_class[0]['#context']['value'] }}">{{ content.field_abct_text }}</div>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{% include '@atomic_block_content_type/includes/abct-general.html.twig' %}
